body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; 
    color: #333;
}

header {
    background-color: #86b387; 
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.topnavleft {
    display: flex;
}

.topnavleft li {
    list-style: none;
    padding-right: 35px;
}

.topnavleft img {
    height: 30px;
}

.topnavmid button {
    border-radius: 20px;
    background-color: green; /* Green button background */
    color: white; /* White text */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.topnavright a {
    text-decoration: none;
}

.topnavright button {
    border-radius: 20px;
    background-color: green; /* Green button background */
    color: white; /* White text */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.editor {
    height: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    resize: none;
    font-family: Consolas, Menlo, monospace;
    font-size: 14px;
}

.output {
    height: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}